<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td>
        <table border="0" cellpadding="0" cellspacing="0" width="600" height="80" valign="top" align="center" bgcolor="#373E48">
            <tr>
                <td align="center" style="padding-top:20px;">
                    <span style="font-size: 50px;color: white;">Meet</span><span style="color:#BFBFBF;font-size: 50px">up</span>
                </td>
            </tr>
            <tr>
                <td>
                    <table border="0"  cellspacing="0" width="600" height="150" valign="top" align="center" bgcolor="#373E48">
                    <tr>
                        <td align="center" style="padding:50px 30px 30px 30px;">
                            <span style="font-size: 18px;color: white;"><a href="{{eventLink}}" style="text-decoration:none; color:#82c5a6 ;">{{eventName}}</a> is now alive .
                                Go ahead and spread the word.  </span>
                        </td>
                    </tr>
                        <tr>
                            <td align="center" style="padding:10px 30px 30px 0px;">
                            <span style="font-size: 18px;color: white;"><a href="{{calenderLink}}" style="text-decoration:none; color:#82c5a6 ;">Click here </a> to add the event to your calender  </span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        </td>
    </tr>
</table>
</body>
</html>